<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <title>姓名案例 插值语法的实现</title>
        <script type="text/javascript" src="../vue-src/vue.js"></script>
    </head>

    <body>
        <div id="root">
            Last Name: <input type="text" v-model="lastname"> <br>
            First Name: <input type="text" v-model="firstname"> <br>
            Full Name: <span>{{firstname.slice(0,3) + ' ' + lastname.slice(0,3)}}</span>

        </div>

        <script type="text/javascript">
            const vm = new Vue({
                el: '#root',
                data: {
                    lastname: 'Sapientiam',
                    firstname: 'Reindorius',
                }
            })
        </script>
    </body>

    
</html>